html{
  font-family: 'Pattaya', sans-serif;
  background-image: linear-gradient(-30deg, black, white);
}
#navbar {
  background-image: linear-gradient(cyan,magenta);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  box-shadow: 1px 1px 1px #2b403d;
  z-index: 10;
  font-size: 2em;
}
#welcome-section{
  height: auto;
  width:100%;
  margin-top: 0%;
  padding-top: 10%;
  text-align: center;
     background-image:linear-gradient(45deg, black 20%, blue);
}
a{color: beige;}
.intro{color: #b4d9d4;
font-size: 4em;}
.career{
  color: #b1e3f2;
  font-size: 2em;
}
#grid{
  display: inline-grid;
  grid-template-columns: 50vh, 50vh
    
}
.project-title{width:100%;}

@media(max-width: 700px){
  #navbar{
    background-image: linear-gradient(45deg, blue, red);
  }
}
footer{
  background-image:linear-gradient(45deg, black 20%, blue);
}
img{
  height: 200px;
  width: auto;
}
i{
  color: white;
}
